@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7c0b9z');
  src:  url('../fonts/icomoon.eot?7c0b9z#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7c0b9z') format('truetype'),
    url('../fonts/icomoon.woff?7c0b9z') format('woff'),
    url('../fonts/icomoon.svg?7c0b9z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\f00c";
}
.icon-cog:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-tags1:before {
  content: "\f02c";
}
.icon-play:before {
  content: "\f04b";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-file-text-o:before {
  content: "\f0f6";
}
.icon-fire-extinguisher:before {
  content: "\f134";
}
.icon-chevron-circle-down:before {
  content: "\f13a";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-apple:before {
  content: "\f179";
}
.icon-windows:before {
  content: "\f17a";
}
.icon-android:before {
  content: "\f17b";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-life-bouy:before {
  content: "\f1cd";
}
.icon-life-buoy:before {
  content: "\f1cd";
}
.icon-life-ring:before {
  content: "\f1cd";
}
.icon-life-saver:before {
  content: "\f1cd";
}
.icon-support:before {
  content: "\f1cd";
}
.icon-paint-brush:before {
  content: "\f1fc";
}
.icon-tags:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-behance:before {
  content: "\eaa8";
}
